* {
  margin: 0;
  padding: 0;
  background-color: #5cdb95;
}

#heading {
  display: block;
  text-align: center;
  background-color: #05386b;
  color: white;
  margin: 0;
  padding-top: 10px;
  width: 100%;
  height: 60px;
}

#text-input {
  margin: 2rem;
  background-color: #05386b;
  color: white;
  width: 80%;
  height: 10vh;
  padding: 1rem;
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#buttonTranslate {
  width: 100px;
  height: 40px;
  font-size: larger;
  background-color: #05386b;
  color: white;
  border: 1px solid black;
}

#output-heading {
  font-size: larger;
  margin-top: 30px;
  padding-left: 30px;
  color: white;
}

#output {
  border: 1px solid black;
  height: 10vh;
  width: 80%;
  margin: 2rem;
  padding: 1rem;
  background-color: #05386b;
  color: white;
}

#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 1rem;
  background-color: #05386b;
  color: white;
  text-align: center;
}

#footer-about {
  font-size: x-large;
  background-color: #05386b;
  color: white;
}

#footer-p {
  text-align: center;
  background-color: #05386b;
  color: white;
  display: block;
}
